#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

DH_VERBOSE = 1

%:
	dh $@ --parallel

override_dh_auto_configure:
	dh_auto_configure -- --with-proto --with-fe-cpp --with-cli --with-internal-rpc --with-gnu-ld --with-bmv2 --includedir=/usr/include/c++/10

override_dh_auto_build:
	$(MAKE) all

override_dh_auto_install:
	dh_auto_install -- DESTDIR=$(CURDIR)/debian/tmp install
